ElasticityWithCurl/CMakeFiles/
ElasticityWithCurl/cmake*
ElasticityWithCurl/CMakeCache*
ElasticityWithCurl/Make*
ElasticityWithCurl/step-8
ElasticityWithCurl/solution*
ElasticityWithCurl/case*
ElasticityWithCurl/tmp

StokesProblem/step-55/CMakeFiles/
StokesProblem/step-55/cmake*
StokesProblem/step-55/CMakeCache*
StokesProblem/step-55/Make*
StokesProblem/step-55/step-55
StokesProblem/step-55/solution*
StokesProblem/step-55/output*

StokesProblem/step-56/CMakeFiles/
StokesProblem/step-56/cmake*
StokesProblem/step-56/CMakeCache*
StokesProblem/step-56/Make*
StokesProblem/step-56/step-56
StokesProblem/step-56/solution*
StokesProblem/step-56/output*

laplace/
step-8/