ElasticityWithCurl/CMakeFiles/
ElasticityWithCurl/cmake*
ElasticityWithCurl/CMakeCache*
ElasticityWithCurl/Make*
ElasticityWithCurl/step-8
ElasticityWithCurl/solution*
ElasticityWithCurl/case*
ElasticityWithCurl/tmp

StokesProblem/step-55/CMakeFiles/
StokesProblem/step-55/cmake*
StokesProblem/step-55/CMakeCache*
StokesProblem/step-55/Make*
StokesProblem/step-55/step-55
StokesProblem/step-55/solution*
StokesProblem/step-55/output*

StokesProblem/step-55_original/CMakeFiles/
StokesProblem/step-55_original/cmake*
StokesProblem/step-55_original/CMakeCache*
StokesProblem/step-55_original/Make*
StokesProblem/step-55_original/step-56
StokesProblem/step-55_original/solution*
StokesProblem/step-55_original/output*
StokesProblem/step-55_original/.cache*

StokesProblem/step-56/

laplace/
step-8/